.shop {
    position: relative;
}

.shop--dark {
    background-color: rgb(25, 26, 28);
    height: 1100px;
}

.shop--dark .sidebar {
    box-shadow: rgba(255, 255, 255, 0.15) 1.95px 1.95px 2.6px;
}

.shop--dark .sidebar-item:hover {
    box-shadow: rgba(255, 255, 255, 0.16) 0 1px 4px;
}

.shop--dark .sidebar-item__name {
    color: #ffffff;
}

.shop--dark .loader div:after {
    background: #fff;
}

.shop--dark .shop-header__title {
    color: white;
}

.shop--dark .header-icon-cart {
    color: white;
}

.shop--dark .cart {
    background-color: rgb(36, 37, 41);
    color: white;
}

.shop--dark .game-card {
    background-color: rgb(36, 37, 41);
}

.shop--dark .game-card__name,
.shop--dark .game-card__price,
.shop--dark .game-name,
.shop--dark .game-description,
.shop--dark .game-price {
    color: white;
}

.shop--dark .game-tag {
    background-color: rgb(80, 82, 84);
    color: white;
}

.shop--dark .game-tag--active {
    background-color: royalblue;
}