.messenger-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 80px;
}

.messenger-header__title {
    font-size: 24px;
    font-weight: bold;
}

.user-info__logout {
    cursor: pointer;
}

.user-info__logout:hover {
    color: red;
}