.placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.placeholder-text {
    color: #cccccc;
    font-weight: 600;
    font-style: italic;
}