.game-card {
    width: 370px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
    border-radius: 15px;
    margin: 0 13px 13px 0;
}

.game-card__details {
    padding: 10px 20px;
}

.game-card__name {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px 0;
    cursor: pointer;
}

.game-card__tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 15px 0;
}

.game-card__buy-wrapper {
    display: flex;
    justify-content: space-between;
}

.game-card__price {

}

.game-card__button {
    border-radius: 15px;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: #19a2c1;
}